/*
    logo for why hire me
*/


.tech_contain{

    padding:5em 0;

    .overview{
        span{
            .cosmoboy{                                       
                margin:0 auto;
            }
        }
    }

    .overview-list{
    
        display: grid;
        width:65%;
        margin:0 auto;
        grid-template-columns:60% 60%;
    
            .cosmoboy-icon{

                display:grid;
                grid-template-columns:auto;
                grid-template-rows:.5fr .5fr;
                place-content: center;
                padding:5em;
            
                
                    img{

                        margin: 0 auto;
                        width:10em;
                        height:10em;
                        
                    }
                
            }
    
    }
}





/* mobile view */
@media screen and (max-width:767px){

    

    .About{
        padding-left:0;

        .cosmoboy{                                       
            width:80%;
            height:80%;
        }
        
        .overview-list{
            margin:0;
            width:100%;
            grid-template-columns:4fr;
        }

    }


    @media screen and (max-width:400px){

        .overview-list{
            grid-template-columns:4fr;
            .cosmoboy{                                       
                width:90%;
                height:90%;
            }
        }
    }

}


@media screen and (max-width:1024px){
    .overview-list{
        width:90%;
    }
}

/* tablet view */
@media screen and (min-width:768px){
    
    .cosmoboy{                                       
        width:60%;
        height:60%;
    }

    @media screen and (min-width:1240px){
        .cosmoboy{                                       
            width:40%;
            height:40%;
        }
    }

}
