
    $primary-color-black: rgba(20, 20, 22,0.8);
    $primary-color-white:rgba(200, 200, 200, 0.9);

.Contact{
    height:fit-content;
    width:100%;
    margin-top:5rem;
    border-top-right-radius: 70%;
    background-color: $primary-color-black;
}

.contact-margin{
    margin: 1.5rem;
}

.contact-margin-small{
    margin: 0.7em 0;
    padding:0.5rem 0;
}

.contact-tables{
    padding: 2rem 0;
}

@media screen and (max-width:800px){
    .Contact{
        border-top-right-radius: 40%;
        padding:0 4rem;
    }
     
    .contact-tables{
        padding: 0.5rem 0;
    }
}

@media screen and  (min-width:501px) and (max-width:800px){
    .Contact{
        border-top-right-radius: 50%;
    }
}

.card > span > a > span > .icon{
    margin:0rem 0.6rem;
}
